/* styles.css */

body {
    font-family: "Sintony", sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
    z-index: 10;
}

.background-1 {
    /* Define a posição, tamanho e z-index do primeiro fundo */
    position: fixed; /* Fixa o elemento na janela de visualização */
    top: 0; /* Alinha o topo do fundo com o topo da janela de visualização */
    left: 0; /* Alinha a esquerda do fundo com a esquerda da janela de visualização */
    width: 100%; /* Define a largura do fundo como 100% da janela de visualização */
    height: 100%; /* Define a altura do fundo como 100% da janela de visualização */
    background-image: url('/background/bg_articles_wave_grad.svg'); /* Define a imagem do primeiro fundo */
    background-size: cover; /* Cobrir todo o elemento */
    background-repeat: no-repeat; /* Não repetir a imagem */
    background-position: center; /* Centralizar a imagem */
    z-index: -1; /* Define a ordem de sobreposição do primeiro fundo */
}

.background-2 {
    /* Define a posição, tamanho e z-index do primeiro fundo */
    position: fixed; /* Fixa o elemento na janela de visualização */
    top: 0; /* Alinha o topo do fundo com o topo da janela de visualização */
    left: 0; /* Alinha a esquerda do fundo com a esquerda da janela de visualização */
    width: 100%; /* Define a largura do fundo como 100% da janela de visualização */
    height: 100%; /* Define a altura do fundo como 100% da janela de visualização */
    background-image: url('/background/bg_articles_wave.svg'); /* Define a imagem do primeiro fundo */
    background-size: cover; /* Cobrir todo o elemento */
    background-repeat: no-repeat; /* Não repetir a imagem */
    background-position: center; /* Centralizar a imagem */
    z-index: -1; /* Define a ordem de sobreposição do primeiro fundo */
}



header {
    text-align: center;
    padding: 20px 0;
    background-color: linear-gradient(to bottom, #ffd700, #ffc100);
    z-index: 10;
}

.page-title {
    font-size: 36px;
    margin-bottom: 10px;
    color: #ffd700; /* Altera a cor do título para branco */
    z-index: 10;
}

.page-subtitle {
    font-size: 18px;
    color: #ffd700cc;
    z-index: 10;
}

.pdf-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 10;
}

.pdf {
    margin: 20px;
    width: 400px;
    text-align: center;
    background: linear-gradient(to bottom, #3385ff, #003366);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra */
    transition: transform 0.3s ease;
    z-index: 10;
}


.pdf:hover {
    transform: scale(1.05);
    z-index: 10;
}

.pdf-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffd700;
    z-index: 10;
}

.pdf-description {
    font-size: 16px;
    color: #ffd700cc;
    z-index: 10;
    padding: 0px 10px;
   
}

.pdf-embed {
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
    z-index: 10;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.footer {
   /* background-color: #0033a0;  Azul mais claro */
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: #fff;
}

.footer p {
    margin: 0;
    margin-top: 10%; 

}

.footer a {
    color: #ffd700; /* Cor do texto mais escura */
    text-decoration: none;
    transition: color 0.3s ease; /* Transição suave ao mudar de cor */
    
}

.footer a:hover {
    color: #fff; /* Cor do texto ao passar o mouse */
}

/* Adiciona margem ao redor das imagens dos ícones CC */
.footer img {
    margin: 0 3px;
    height: 22px !important;
    margin-left: 3px;
    vertical-align: text-bottom;
}

/* Adiciona espaçamento interno para as imagens dos ícones CC */
.footer a img {
    padding: 0 3px;
    height: 22px !important;
    margin-left: 3px;
    vertical-align: text-bottom;
}

/* Adiciona margem inferior ao footer para evitar sobreposição com o conteúdo da página */


/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .footer {
        padding: 10px 0;
    }
}

#license-link {
    display: inline-block;
}




/* Seus estilos CSS existentes */

.logo-link {
    margin-left: 80%;
    z-index: 999; /* Garante que o ícone esteja acima de outros elementos */
}



.logo {
    /* Outros estilos da logo */
    width: 40px; /* Defina o tamanho inicial */
    height: 40px; /* Mantenha a proporção */
    transition: transform 0.3s ease; /* Adicione uma transição suave */
    transform-origin: center; /* Define o ponto de transformação no centro */
}

.logo:hover {
    transform: scale(1.20); /* Ajusta a escala ao passar o mouse */
}